extends layout

block content
  .row.mt-4
    .col-xl-3.col-md-6
      .card.mb-4(style="width: 260px")
        img.card-img-top(src=`/toolkit/images/pdf.png` style="padding: 5px")
        .card-body(style="padding: 5px 10px;")
          strong PDF Merge
        .card-footer.d-flex.align-items-center.justify-content-between(style="background-color: rgba(250, 255, 219, 0.33);")
          a.stretched-link.text-dark(href=`/toolkit/pdf` style="text-decoration: none") Visit
          .small
            i.material-icons-outlined navigate_next
