doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title CIS - Toolkit
    link(rel="icon" href=`/toolkit/favicon.ico`)
    link(href=`/toolkit/vendor/sbadmin/css/styles.css` rel='stylesheet')
    link(href=`/toolkit/stylesheets/style.css` rel='stylesheet' )
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons+Outlined' rel='stylesheet')
    block styles
body
    nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
        a.navbar-brand.ps-3(href='/toolkit') CIS Toolkit
        button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0.me-4.me-lg-0(href='#!')
            i.fas.fa-bars
    #layoutSidenav
        #layoutSidenav_nav
            nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-light
                .sb-sidenav-menu
                    .nav
                        .sb-sidenav-menu-heading Core
                        a.nav-link(href='/toolkit/pdf')
                            .sb-nav-link-icon
                                i.fas.fa-file-pdf
                            |                                 PDF Merge
        #layoutSidenav_content
            main
                .container-fluid.px-4
                    .wrapper-loader
                        .loader
                            div
                            div
                            div
                            div
                    block content
            footer.py-4.bg-light.mt-auto
                .container-fluid.px-4
                    .d-flex.align-items-center.justify-content-between.small
                        .text-muted Copyright &copy; PT. Cipta Wijaya Mandiri | 2022
                        div
                            a(href='#') Privacy Policy
                            |                                 &middot;
                            a(href='#') Terms &amp; Conditions
    //- jquery
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' crossorigin='anonymous')
    script(src=`/toolkit/vendor/sbadmin/js/scripts.js`)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous")
    script.
        $(window).on('load', function () {
            $('.wrapper-loader').fadeOut();
        })
    block scripts

